@import url('https://fonts.googleapis.com/css2?family=Andika:ital@1&family=Caveat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
h1{
    font-family: 'Andika', sans-serif;
}
button{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 0;
    background-color: transparent;
    border: thin solid #555;
    transition: 300ms;
}
.flex{
    display: flex
}
.equals{
    color: rgb(58, 160, 228);
    background-color: rgb(49, 55, 55);
    font-size: 18px;
}
.orange{
    color: rgba(191, 28, 178, 0.536);
    font-size: 20px;
    font-weight: 700;
    display: grid;
    place-items: center;
}
input{
    width: 200px;
    height: 40px;
    margin: 4px 0px;
    text-align: right;
    padding-right: 20px;
    border: none;
    outline: none;
}
.background{
    
    box-shadow: 0px 4px 10px 4px  #bfbfbf;
}
button:hover{
    background-color: #555;
    color: white;
}
.text{
    font-size: 16px;
}
.normal{
    /* font-size: 20px; */
}